html{
    min-height:100%;
}
html,body{
    height:100%;
    width:100%;
}
.welcome{
    background-image: url("catamain.jpg");
    min-height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    display: table-cell block;
    text-align: center;
    overflow:hidden;
    position:relative;
    margin:0;
    padding-top:0px;
}
.welcome h1, .welcome h2{
    color:white;
}
.welcome > h2{

}
.welcome-text{
    display: inline-block;
    margin-top:12%;
    height:50%;
}
.our-mission{
    display: block;
    width: 100%;
    padding: 50px;
    padding-top: 20px;
    padding-bottom:20px;
}
.our-mission h1{
    color:#1E90FF;
}
.quote{
    background-color: #FFA500;
    display: block;
    padding: 20px;
}
.quote h1{
    color:white;
}
.quote h2{
    color:#909090
}
.latest-news{
    padding: 50px;
    background-color: #CCFF99
}
.map{
    display: block;
    background-image: url("catamap.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width:100%;
    position:relative;
    overflow:hidden;
}
#map-button{
    position:absolute;
    padding-left:70%;
    bottom:20%;
}
.didyouknow{
    background-color: #FF6699;
    display: block;
    overflow:hidden;
    height:200px;
}
.didyouknow h1{
    color:white;
    padding-top:60px;
}
.footer{
    background-color: #C3E1FF;
    padding: 20px;
    padding-left: 50px;
    padding-right: 50px;
}
#navbarfiller{
    height:86px;
    width: 100%;
    display:block;
}
#latest-news-button{
    padding-right:46%;
}
.navbar .container{
    width:90%;
}

@media(max-width:1600px){
    .navbar .container{
	width:95%;
    }
    .navbar img{
	height:20px;
    }
}
ul.nav li.dropdown:hover > ul.dropdown-menu {
    display:block;
}
@media(max-width:1450px){
    .navbar .container{
        width:95%;
        font-size:14px;
    }
    .navbar img{
        height:25px;
    }
    .navbar .navbar-brand{
        font-size: 17px;
    }
}
@media(max-width:1280px){
    .navbar .container{
        width:95%;
        font-size:12px;
    }
    .navbar img{
        height:23px;
    }
    .navbar .navbar-brand{
        font-size: 16px;
    }
}
@media(max-width:1150px){
    .navbar .container{
        width:100%;
        font-size: 10px;
    }
    .navbar img{
        height:20px;
    }
    .navbar .navbar-brand{
        font-size: 15px;
    }
}
@media(max-width:1000px){
    .navbar .container{
        width:100%;
        font-size: 9px;
    }
    .navbar img{
        height:16px;
    }
    .navbar .navbar-brand{
        visibility:hidden;
        width:0px;
    }
}
@media(max-width:767px){
    .navbar .container{
        width:100%;
    }
    .navbar .navbar-brand{
        visibility: visible;
        width:70%;
        font-size:12px;
    }
}

